.aboutContainer {
  margin: 0 5% 5% 5%;
}

.topBar {
  background-color: black;
  height: 3px;
  margin-top: 2%;
}

.aboutHeader{
  padding: 1% 0 3% 0;
  text-align: left;
  font-size: 2.5em;
  font-family: 'Hammersmith One';
  color: #636e72;
}

.sectionTitle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  margin-top: 4%;
}

.grid1 {
  display: grid;
  grid-template-columns: auto;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.infographic {
  display: grid;
  grid-template-columns: auto;
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.8);
}

.infographicHeader {
  display: grid;
  grid-template-columns: auto;
  font-weight: bold;
  margin-bottom: 2%;
}

.grid2 {
  display: grid;
  grid-template-columns: auto auto;
}

.blockchainIntro {
  text-align: left;
  margin-left: 2%;
  font-size: 14px;
}

.smartContract {
  text-align: left;
  padding-top: 3%;
  margin-left: 2%;
  font-size: 14px;
}

.grid4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

.gridItem {
  padding: 20px 20px 0 20px;
  font-size: 16px;
  text-align: center;
}

.votingProcessIntro {
  font-size: 16px;
}

.votingProcess {
  margin-bottom: 20px;
}

.photoItem {
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

.devImage {
  box-shadow: 10px 10px rgba(0, 0, 0, 0.8);
}

.nameHr {
  background-color: #636e72;
  height: 2px;
  width: 70%;
  margin-top: 30px;
}